# Example environment for local development.
# Copy to `.env` and replace placeholders.
# Full variable list is available in the README.md file.

# LLM:
LLM_BASE_URL=elastiflow.com
LLM_API_KEY=""
# OpenSearch:
OPENSEARCH_URL=https://localhost:9200
OPENSEARCH_USERNAME=admin
OPENSEARCH_PASSWORD=""
OPENSEARCH_TLS_INSECURE=true
